body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #111;
}
.container {
    max-width: 1280px;
    width: 90%;
    margin: 0px auto;
    color: white;
}
.hero {
    background-color: #3a398583;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 7px #1155FF;
    font-size: 25px;
}
.hero h1 {
    color: #3499FF;
    padding: 10px;
}
.container h2 {
    color: #6EE2F5;
    font-size: 2.5rem;
    padding-bottom: 10px;
    border-bottom: 4px solid #6ee3f57c;
}
.striped {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}
.striped tbody tr td {
    padding: 0.9375rem 0.3125rem;
    text-align: center;
}
.reproved {
    transition: all ease 0.5s;
    background-color: #c5221f;
}
.aproved {
    transition: all ease 0.5s;
    background-color: #6bb838;
}
.btn {
    margin-top: 20px;
    padding: 10px;
    background-color: antiquewhite;
}
.btn:hover {
    box-shadow: 0px 0px 20px #666;
    transform: translateX(1px);
    transform: translateY(1px);
    transition: all ease 0.1s;

}
.toggle {
    background-color: #111;
}
