@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/Earth.jpg');
    background-size: cover;
}
.header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    min-width: 1140px;
    padding: 1.5rem 6rem;
}
.header_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.3125rem;
    max-width: 12.5rem;
    height: 100%;
    color: white;
    letter-spacing: 0.125rem;
}
.menu_area {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}
.menu_area ul {
    display: flex;
    justify-content: center;
}
.menu_area ul li {
    list-style: none;
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
}
.menu_area ul li:hover {
    border-bottom: 2px solid #666;
}
.active {
    border-bottom: 2px solid #666;
}
.menu_area ul li a {
    text-decoration: none;
    color: white;
}

.slider {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
}
.slider--width {
    width: calc(100vw * 3);
    height: 100%;
    display: flex;
    transition: all ease 0.5s;
    background-color: rgba(000, 000, 000, 0.3);
}
.slider--item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: inherit;
}
.slider--item:nth-child(2) {
    background-image: url('../images/space1.jpg');
    background-size: cover;
    background-position: center;
}
.slider--item:nth-child(3) {
    background-image: url('../images/space2.jpg');
    background-size: cover;
    background-position: center;
}

.banner_text_area {
    position: fixed;
    width: 100%;
    text-align: center;
} 
.banner_text_area h1 {
    font-size: 5.25rem;
    letter-spacing: 3.125rem;
    color: white;
    text-shadow: 5px 5px 5px #000;
}
.banner_text_area p {
    text-align: center;
    color: white;
    font-size: 1.375rem;
}
.slider--controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider--control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    animation: go ease 2s infinite;
}
.slider--control.prev {
    animation: prev ease 2s infinite;
}
.slider--control.next {
    animation: go ease 2s infinite;
}
.line1 {
    background-color: #000;
    width: 10px;
    height: 5px;
    transform: rotate(-45deg);
}
.line2 {
    background-color: #000;
    width: 10px;
    height: 5px;
    transform: rotate(45deg);
}
.line1.next {
    transform: rotate(45deg);
}
.line2.next {
    transform: rotate(-45deg);
}
.mobile_button {
    display: none;
    background-color: transparent;
}
.mobile_button button {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.mobile_button button img {
    width: 40px;
    height: 40px;
}
.mobile_button ul {
    list-style: none;
}
.mobile_button ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.mobile_button ul li {
    padding: 10px;
}
.open {
    display: block !important;
}
@keyframes go {
    0% { transform: translateX(-10px);}
    50% { transform: translateX(0px);}
    100% {transform: translateX(-10px);}
}
@keyframes prev {
    0% { transform: translateX(10px);}
    50% { transform: translateX(0px);}
    100% {transform: translateX(10px);}
}

@media screen and (max-width: 950px) {
    .banner_text_area h1 {
        font-size: 2.25rem;
        letter-spacing: 1.325rem;
    }
    .slider--control {
        width: 30px;
        height: 30px;
    }
    .menu_area {
        display: none;
    }
    .mobile_button {
        position: relative;
        background-color: transparent;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .mobile_button ul {
        background-color: rgba(000, 000, 000, 0.6);
        position: absolute;
        top: 75%;
        left: -100px;
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .header {
        min-width: 680px;
    }
}
